<% if logged_in? %>
<%= flash[:success] if flash[:success] %>
<%= @error_message if @error_message %>
<h1>Write a Haiku or a Short poem!</h1>

  <%= form_for @poem do |f| %>
    <%= f.label :title %>:
    <%= f.text_field :title %><br />
    <%= f.label :content %>:
    <%= f.text_field :content %><br />
    <%= f.submit %>
  <% end %>
<% end %>
<% if @poems.any? %>
  <% @poems.each do |poem| %>
    <%= simple_format(poem.title) if poem.title%>
    <%= simple_format(poem.content) %>
    - <%= poem.poet ? poem.poet.name : "Anonymous" %>
  <% end %>
<% else %>
  <h2>The poems are gone</h2>
  <h2>To revive the tradition</h2>
  <h2>Please sign in and share</h2>
<% end %>