<% if logged_in? %>
<%= flash[:success] if flash[:success] %>
<%= @error_message if @error_message %>
<h1>Write a Haiku or a Short poem!</h1>  
  <% if @prev_entry %>

    <%= form_for @poem do |f| %>
      <%= f.label :title %>
      <%= f.text_field :title, value: @prev_entry[:title] unless @prev_entry[:title].empty?%><br />
      <%= f.text_field :title if @prev_entry[:title].empty?%><br />
      <%= f.label :content %>
      <%= f.text_field :content, value: @prev_entry[:content] unless @prev_entry[:content].empty? %><br />
      <%= f.text_field :content if @prev_entry[:content].empty? %><br />
      <%= f.submit %>
    <% end %>

  <% else %>

    <%= form_for @poem do |f| %>
      <%= f.label :title %>
      <%= f.text_field :title %><br />
      <%= f.label :content %>
      <%= f.text_field :content %><br />
      <%= f.submit %>
    <% end %>

  <% end %>
<% end %>
<hr>
<% if @poems.any? %>
  <% @poems.each do |poem| %>
    <h3><%= simple_format(poem.title) if poem.title%></h3>
    <h2><%= simple_format(poem.content) %></h2>
    - <%= poem.poet ? poem.poet.name : "Anonymous" %>
    <p> <%= poem.snap_count %> snaps </p>
    <%= button_to "Snap", snap_poem_path(poem.id), method: :put %>
    <%= button_to "Unsnap", unsnap_poem_path(poem.id), method: :put %>
  <% end %>
<% else %>
  <h2>The poems are gone</h2>
  <h2>To revive the tradition</h2>
  <h2>Please sign in and share</h2>
<% end %>