<!DOCTYPE html>
<html>
<head>
  <title>HaikuApp</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
</head>
<body>
  <nav>
    <h1>HaiCoup</h1>
    <ul>
      <% unless logged_in? %>
        <li><%= link_to "Sign In with Twitter", "/auth/twitter" %></li>
      <% else %>
        <li><%= link_to "Sign Out", signout_path %></li>
      <% end %>
    </ul>
  </nav>

<%= yield %>

</body>
</html>
